*{
    text-decoration: none;
}

.logo-up{
   background-size: contain;
   background-image: url(../img/pattern.png);
    background-color:rgb(90, 193, 228);
}

.booleaner{
   
    margin-left: 20px;
    width: 180px;
    height: 90px;
}

.tim{
    margin-top: 20px;
}

.lorem-box{
   padding:30px;
   text-align: left;
}

.lorem-1{
    
    color: white;
    background-color: blue;
}

.lorem-2, .lorem-4
{
background-color: cyan;
}

#testo-left, .testo-center, .testo-right
{
display: inline-block;
padding: 50px;
margin-top: 20px;
margin: 20px;
}



.interesse{
color: grey;
}

.monitor{

    width: 250px;
    height: 200px;
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
    color: white;
    background-image: url(../img/monitor.jpg);

}

.grafico{
    margin-top: 20px;
    width: 250px;
    height: 200px;
    text-align: center;
    padding-top: 20px;
    color: white;
    background-image: url(../img/graph.jpg);  
}